<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ceti.wholesale.mapper.EquipmentMapper">
    <sql id="filter">
		<where>
			<if test="inspection_date_from != null">
				AND e.inspection_date <![CDATA[>=]]> #{inspection_date_from}
			</if>
			<if test="inspection_date_to != null">
				AND e.inspection_date <![CDATA[<=]]> #{inspection_date_to}
			</if>
			<if test="name != null">
				AND e.name LIKE CONCAT('%', #{name}, '%') 
			</if>
			<if test="origin != null">
				AND e.origin LIKE CONCAT('%', #{origin}, '%') 
			</if>
			<if test="manufacture_year != null">
				AND e.manufacture_year LIKE CONCAT('%', #{manufacture_year}, '%')
			</if>
			<if test="brand != null">
				AND e.brand LIKE CONCAT('%', #{brand}, '%') 
			</if>
			<if test="symbol != null">
				AND e.symbol LIKE CONCAT('%', #{symbol}, '%') 
			</if>
			<if test="model != null">
				AND e.model LIKE CONCAT('%', #{model}, '%') 
			</if>
			<if test="is_active != null">
				AND e.is_active = #{is_active}
			</if>
			<if test="factory_id != null">
				AND e.factory_id = #{factory_id}
			</if>
			
		</where>
	</sql>

    <select id="getList" resultMap="result" parameterType="map">
	    SELECT 
			e.id,
			e.name,
			e.origin,
			e.manufacture_year,
			e.used_year,
			e.brand,
			e.symbol,
			e.model,
			e.quantity,
			e.install_location,
			e.specification,
			e.inspection_date,
			e.inspection_period,
			e.factory_id,
			e.is_active,
			e.note
		FROM equipment e
		<include refid="filter"></include>
		${pagingStr}
    </select>
    
    <resultMap id="result" type="com.ceti.wholesale.dto.EquipmentDto">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="origin" column="origin"/>
        <result property="manufactureYear" column="manufacture_year"/>
        <result property="usedYear" column="used_year"/>
        <result property="brand" column="brand"/>
        <result property="symbol" column="symbol"/>
        <result property="model" column="model"/>
        <result property="quantity" column="quantity"/>
        <result property="installLocation" column="install_location"/>
        <result property="specification" column="specification"/>
        <result property="inspectionDate" column="inspection_date"/>
        <result property="inspectionPeriod" column="inspection_period"/>
	 	<result property="note" column="note"/>
		<result property="isActive" column="is_active"/>
	 	<result property="factoryId" column="factory_id"/>
       <!-- <association property="equipmentAccessories" javaType="com.ceti.wholesale.dto.EquipmentAccessorieDto">
        	<result property="id" column="accessorie_id"/>
        	<result property="name" column="accessorie_name"/>
        	<result property="specification" column="accessorie_specification"/>
        	<result property="quantity" column="accessorie_quantity"/>
        	<result property="note" column="accessorie_note"/>
        	 <result property="factoryId" column="factory_id"/>
        </association>-->
    </resultMap>
    
    
    
    <select id="countList" resultType="long">
		SELECT DISTINCT
			COUNT(e.id)
		FROM equipment e
		<include refid="filter"></include>
    </select>

</mapper>