<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ceti.wholesale.mapper.GoodsInStockMapper">
    <select id="setForwardToNextYear" resultType="Integer">
    DELETE goods_in_stock WHERE [year]=#{year_to}
    INSERT INTO goods_in_stock(id, company_id, product_id, year, inventory, create_by, update_by, create_at, update_at, note, factory_id)
		SELECT CONCAT(CONVERT(VARCHAR,#{year_to}), ISNULL(company_id, ''), product_id, #{factory_id}) ,
			   ISNULL(company_id,'') , product_id, #{year_to}, SUM(quantity) as quantity,
			   #{user_full_name}, #{user_full_name}, GETDATE(), GETDATE(), N'Hệ thống kết chuyển ngày '+ CONVERT(VARCHAR,GETDATE(),3), #{factory_id}
		FROM(
				select product_id, SUM(in_quantity - out_quantity) as quantity, company_id
				from goods_in_out
				where YEAR([dbo].[v1/get_date_at_ICT_zone](voucher_at))=#{year_from}
					AND factory_id=#{factory_id}
				group by product_id, company_id

				union all
				select product_id, SUM(gis.inventory) as quantity, company_id
				from goods_in_stock gis
				WHERE gis.[year] = #{year_from} AND gis.factory_id=#{factory_id}
				group by product_id, company_id
			) as b
		GROUP BY product_id, company_id

    </select>
</mapper>