<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ceti.wholesale.mapper.SoldVoucherMapper">
    <sql id="filter">
		<where>
			<if test="voucher_at_from != null">
				AND sv.voucher_at <![CDATA[>=]]> #{voucher_at_from}
			</if>
			<if test="voucher_at_to != null">
				AND sv.voucher_at <![CDATA[<=]]>  #{voucher_at_to}
			</if>
			<if test="company_id != null">
				AND sv.company_id = #{company_id}
			</if>
			<if test="customer_id != null">
				AND sv.customer_id = #{customer_id}
			</if>
			<if test="truck_driver_id != null">
				AND sv.truck_driver_id = #{truck_driver_id}
			</if>
			<if test="truck_license_plate_number != null">
				AND sv.truck_license_plate_number = #{truck_license_plate_number}
			</if>
			<if test="factory_id != null">
				AND sv.factory_id = #{factory_id}
			</if>
			<if test="no != null">
				AND sv.no LIKE CONCAT('%', #{no}, '%')
			</if>
		</where>
	</sql>

    <select id="getList" resultMap="result" parameterType="map">
	    SELECT
			sv.*,
			c1.name as company_name,
			c2.name as customer_name,
			c2.code AS customer_code,
			td.full_name AS truck_driver_full_name,
			salesman.full_name AS salesman_full_name
		FROM sold_voucher sv
		LEFT JOIN company c1 ON sv.company_id = c1.id
		LEFT JOIN customer c2 ON sv.customer_id = c2.id
		LEFT JOIN truck_driver td ON sv.truck_driver_id = td.id
		LEFT JOIN salesman ON sv.sales_man_id = salesman.id
		<include refid="joinGoodInOut"></include>
		<include refid="filter"></include>
		${pagingStr}
    </select>

    <resultMap id="result" type="com.ceti.wholesale.dto.SoldVoucherDto">
        <result property="id" column="id"/>
        <result property="no" column="no"/>
        <result property="voucherCode" column="voucher_code"/>
        <result property="voucherAt" column="voucher_at"/>
        <result property="companyId" column="company_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="salesmanId" column="salesman_id"/>
        <result property="truckDriverId" column="truck_driver_id"/>
        <result property="truckLicensePlateNumber" column="truck_license_plate_number"/>
        <result property="totalReceivable" column="total_receivable"/>
		<result property="totalPaymentReceived" column="total_payment_received"/>
		<result property="totalGoodsReturn" column="total_goods_return"/>
        <result property="totalGoods" column="total_goods"/>
        <result property="note" column="note"/>
	 	<result property="createdByFullName" column="created_by_full_name"/>
        <result property="createdAt" column="created_at"/>
        <result property="updateByFullName" column="update_by_full_name"/>
        <result property="updateAt" column="update_at"/>
        <result property="factoryId" column="factory_id"/>
        <result property="truckDriverFullName" column="truck_driver_full_name"/>
        <result property="salesmanFullName" column="salesman_full_name"/>
		<result property="paymentVoucherId" column="payment_voucherId"/>
        <association property="company" javaType="com.ceti.wholesale.dto.CompanyDto">
        	<result property="name" column="company_name"/>
			<result property="id" column="company_id"/>
        </association>
        <association property="customer" javaType="com.ceti.wholesale.dto.CustomerDto">
			<result property="code" column="customer_code"/>
			<result property="id" column="customer_id"/>
			<result property="name" column="customer_name"/>
        </association>
		 <association property="truckDriver" javaType="com.ceti.wholesale.dto.TruckDriverDto">
			<result property="fullName" column="truck_driver_full_name"/>
			 <result property="id" column="truck_driver_id"/>
		</association>
		 <association property="salesman" javaType="com.ceti.wholesale.dto.SalesmanDto">
			<result property="fullName" column="salesman_full_name"/>
			 <result property="id" column="sales_man_id"/>
		 </association>
    </resultMap>
	<sql id="joinGoodInOut">
		<if test="goods_in_out_type !=null or product_id != null">
			JOIN (select distinct voucher_id from goods_in_out
			<where>
				<if test="goods_in_out_type != null">
					AND [type] =#{goods_in_out_type}
				</if>
				<if test="product_id != null">
					AND product_id =#{product_id}
				</if>
			</where>
			)
			goods_in_out on goods_in_out.voucher_id = sv.id
		</if>
	</sql>

    <select id="countList" resultType="long">
		SELECT
			COUNT(*)
		FROM sold_voucher sv
		<include refid="joinGoodInOut"></include>
		<include refid="filter"></include>
    </select>
</mapper>